html {
  height: 100%; 
  width: 100%;
}

body {
  background-color: rgba(43, 57, 46, 0.474); 
  height:min-content; 
  width: 100%;
  height: 100%; 
  margin: 0px;
  z-index: 5;
}

.menu-container {
  position: absolute;
  background-color: rgba(43, 57, 46, 0.474); 
  height: 100%;
  width: 100%;
  z-index: 15;
  border: none;
  margin: 0px;
  padding: 0px;
}

.menu-text {
  position: absolute;
  top: 100px;
  left: 705px;
  width: 510px;
  height: 100px;
  font-family: Roboto;
  font-size: 72px;
  font-weight: 700;
  margin: 0px;
  color: rgb(20, 20, 20);
}

.Child,
.Casual,
.Hardcore,
.Pop-up {
  height: 60px; 
  width: 200px; 
  color: rgb(255, 255, 255);
  background-color: rgb(165, 63, 63); 
  border-color: white; 
  font-family: Roboto;
  font-size: 20px; 
  font-weight: 700; 
  position: absolute; 
  left: 860px;
  margin: 0;
  padding: 0;
  transition: background 0.15s;
  cursor: pointer;
}

.Child {
  top: 300px;
}

.Casual {
  top: 400px;
}

.Hardcore {
  top: 500px;
}

.Pop-up {
  top: 600px;
}

.mute-sound,
.mute-sfx {
  height: 45px; 
  width: 45px; 
  background-color: rgb(165, 63, 63); 
  border-color: white; 
  position: absolute; 
  left: 1770px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background 0.15s;
}

.mute-sound:hover,
.mute-sfx:hover,
.Child:hover,
.Casual:hover,
.Hardcore:hover,
.Pop-up:hover {
  background-color: rgb(197, 65, 65);
}

.mute-sound {
  bottom: 135px;
}

.mute-sfx {
  bottom: 35px;
}

.sound-icon,
.sfx-icon {
  margin-left: 5px;
  margin-top: 3px;
}

.mute-soundtrack,
.mute-sound-effects {
  position: absolute;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.mute-soundtrack {
  bottom: 190px;
  left: 1710px;
}

.mute-sound-effects {
  bottom: 90px;
  left: 1700px;
}

.game-container {
  background-color: rgba(43, 57, 46, 0.474); 
  height: 100%;
  width: 100%;
  z-index: 8;
  border: none;
  margin: 0px;
  padding: 0px;
}

.points {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 75px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  margin: 0px;
}

.combo {
  position: absolute;
  top: 30px;
  right: 50%;
  width: 250px;
  height: 75px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  margin: 0px;
}

.counter {
  position: absolute; 
  top: 30px; 
  right: 50px; 
  width: 100px; 
  height: 75px; 
  font-family: Roboto;
  font-size: 48px; 
  font-weight: 700; 
  margin: 0px;
}

.author {
  position: absolute;
  top: 800px;
  left: 725px;
  width: 470px;
  height: 75px;
  font-family: Roboto;
  font-size: 48px; 
  font-weight: 700; 
  margin: 0px;
  z-index: 25;
  color: rgb(20, 20, 20);
}

.click {
  height: 0px; 
  width: 0px; 
  color: rgb(255, 255, 255);
  background-color: rgb(165, 63, 63); 
  border-color: white; 
  font-family: Roboto;
  font-size: 24px; 
  font-weight: 700; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  z-index: 20;
}